Content/

# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Visual Studio
.vs/
*.VC.db
*.VC.opendb
*.sln
*.opensdf
*.sdf

# Logs / temp
*.log
*.tmp

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db